[submodule "GameEngine/vendor/spdlog"]
	path = GameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "GameEngine/vendor/glfw"]
	path = GameEngine/vendor/glfw
	url = https://github.com/TheCherno/glfw
